<kirby-page [defaultBackHref]="'/'">
  <kirby-header [title]="'this is a title'">
  </kirby-header>
  <kirby-page-content>
    <div class="action-button-container">
      <button kirby-button size="lg" >
        wow flot knap altså
      </button>
    </div>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>
    <p>Text</p>

  </kirby-page-content>

  <kirby-page-footer>
    <button kirby-button size="lg">
      text goes here
    </button>
  </kirby-page-footer>
</kirby-page>